<%- include('../partials/header') %>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/customer/<%=id%>">Zinny Gaming PC & Components Sale, Trade-in and Service</a>

</nav>

<br />



  <div style="display: flex; justify-content: space-around;">
    <div style="display: flex; flex-direction: column;">
      <a type="button" href="/customer/<%= id %>/trade" style="margin: 20px" class="btn btn-outline-primary btn-lg">
  Request For Trade-In
</a>
<a type="button" href="/customer/<%= id %>/view-trade" style="margin: 20px" class="btn btn-outline-primary btn-lg">
    View Tradable Products
  </a>
  <a type="button" href="/customer/<%= id %>/view-order" style="margin: 20px" class="btn btn-outline-primary btn-lg">
   View My Order
  </a>
 
    </div>
    <form style="margin-top: 10px; background-color: #343a40; color: #f8f9fa; width: 29%; padding: 30px" method="POST" action="/customer/<%=id%>">
      <div class="form-check form-check-inline form-group">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="CPU" name="type">
        <label class="form-check-label" for="inlineCheckbox1">CPU</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  value="RAM" name="type">
        <label class="form-check-label" for="inlineCheckbox2">RAM</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  value="Motherboard" name="type">
        <label class="form-check-label" for="inlineCheckbox1">Motherboard</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Graphic Card" name="type" >
        <label class="form-check-label" for="inlineCheckbox2">Graphic Card</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  value="Storage" name="type">
        <label class="form-check-label" for="inlineCheckbox1">Storage</label>
      </div>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  value="Keyboard" name="type" >
        <label class="form-check-label" for="inlineCheckbox2">Keyboard</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  value="Mouse" name="type" >
        <label class="form-check-label" for="inlineCheckbox1">Mouse</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  value="Headset" name="type">
        <label class="form-check-label" for="inlineCheckbox2">Headset</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Laptop" name="type" >
        <label class="form-check-label" for="inlineCheckbox1">Laptop</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  value="Prebuilt" name="type" >
        <label class="form-check-label" for="inlineCheckbox2">Prebuilt</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  value="All" name="type" >
        <label class="form-check-label" for="inlineCheckbox2">All</label>
      </div>
      <div style="margin-top: 30px">
        <button type="submit" class="btn btn-outline-success">Search</button>
      </div>
    </form>
  </div>
 

<% if(message) { %>
<div class="alert alert-success" role="alert">
  <%= message %>
</div>

<%
        }%>

        <div style="margin: 2%"></div>

        
        <div class="container-fluid">
<table class="table table-dark table-bordered" style="margin-top: 20px;">
  <thead>
    <tr>

      <th scope="col">Image</th>
      <th scope="col">Product Code</th>
      <th scope="col">Product Name</th>
      <th scope="col">In Stock</th>
      <th scope="col">Price</th>
      <th scope="col">Product Type</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <!-- <th scope="col" colspan=""></th> -->
    </tr>
  </thead>
  <tbody>
    <% products.forEach(function(product) { %>
    <tr>

      <td>
        <img width="100" height="100" class="img-thumbnail" src="<%=product.photo%>" />
      </td>

      <td><%=product.code %></td>
      <td><%=product.name%></td>
      <td><%=product.available ? "yes" : "no"%></td>
      <td>$<%=product.price%></td>
      <td><%=product.type%></td>
      <td><%=product.description%></td>

      <% if(product.available) { %>
        <td>
     


            <form style="display: inline" action="/customer/<%=id%>/order/<%=product.code %>" method="GET">
              <!-- <input name="pid" hidden value=<%=product.code %> /> -->
            
    
    
              <button type="submit" class="btn btn-outline-warning" style="width: 70px">Order</button>
            </form>
          </td>
        <%
                }%>
   
    </tr>
    <% }) %>
  </tbody>
</table>
</div>
<%- include('../partials/footer') %>